* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }  

  body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
  }

  h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 50px;
    font-style: oblique;
    font-size: 50px;
  }

  .cards-layout{
    display: flex;
    gap: 40px;
    flex-wrap:wrap;
  }

  .card-image{
   width: 270px;
   height: 270px;
   border-radius: 15px;
  }

  .card-content{
    padding: 10px;
  }

  .card-content p {
    margin: 4px 0;
    color: #333;
  }

  .card-content h3 {
    margin: 4px 0;
    color: #333;
    font-size: medium;
  }


  .guest-fav p{
    position: relative;
    top: 60px;
    left: 10px;
    background-color: white;
    border: 1px solid transparent;
    font-weight: 600;
    font-size: 14px;
    display: inline;
    border-radius: 20px;
    padding: 3px;
  }

 .heart i{
    display: inline;
    color: red;
    font-size: 24px;
    position: relative;
    left: 235px;
    top: 40px;

 }

 .hearts i{
    display: inline;
    color: white;
    font-size: 24px;
    position: relative;
    left: 235px;
    top: 40px;

 }

  .card1:hover{
    transform: scale(1.02);
    transition: 0.3s ease;
  }